@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242333;
    min-height: 100vh;
    color: #fff;
    font-family: "Lato", sans-serif;
}

.movie-container {
    margin: 20px 0;
}

select {
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 10px;
    border: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 14px;
    margin-left: 10px;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}
.seat {
    height: 12px;
    width: 15px;
    background-color: #444451;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #6feaf6;
}
.seat.occupied {
    background-color: #fff;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}
.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
   cursor: pointer;
   transform: scale(1.2); 
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.row, .showcase {
    display: flex;
}
.showcase {
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    list-style-type: none;
    color: #777;
}

.showcase li {
    display: flex;
    margin: 0 10px;
}

.screen {
    height: 70px;
    width: 100%;
    background-color: #fff;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    margin: 15px 0;
}

.text span {
    color: #6feaf6;
}